<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="29bbaa25-65f8-40b5-99ab-f2228779ba45" name="Address Test Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="29bbaa25-65f8-40b5-99ab-f2228779ba45fileName">Address-Test-Suite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
